html { 
   background-color: #B1C3E5;
   background: url(../images/penguins.jpg) no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100%;
   width: 100%;
   transition: height 0.4s
}

h2 { 
   position: fixed; 
   top: 8vh; 
   left: 0; 
   width: 100%; 
   letter-spacing: 0.02em;
}

h2 span { 
   color: white; 
   font: bold 6vw/12vw title; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   letter-spacing: 0.02em;
}

h1 {
   font: bold 32px title;
   text-align: center;
   letter-spacing: 0.02em;
   margin: 0px;
   padding-left: 8%;
   padding-right: 8%;
}

.subtitle {
  font: bold 16px body;
  letter-spacing: 0.04em;
}

.quote {
  font-style: italic;
  margin-left: 2em;
  margin-right: 2em;
}

.panelquote {
  font-style: italic;
}

.quoteauthor {
  text-align:right;
  float:right; 
  margin-left:33%;
}

.cite {
  font-style: italic;
}

.biotitle {
   font: bold 20px/100% title;
   letter-spacing: 0.02em;
}

hr.sep {
   color: black;
   border-top: 2px solid;
   border-right: none;
   border-left: none;
   border-bottom: none;
   width: calc(100% + 24px);
   margin-left: -12px;
   margin-top: 0px
}

hr.sep:before {
   color: black;
   display: block;
   content: "";
   width: calc(100% - 28px);
   margin-top: -12px;
   margin-left: 12px;
   margin-right: 12px;
   border-left: 2px solid;
   height: 22px;
   border-right: 2px solid;
}

.watermark {
   position: static;
   width: 88%;
   margin: auto;
   height: auto;
   min-height: 100vh;
   display: block;
   background-image: url(../images/tiled.png);
   background-position: 0px 0px;
   background-repeat: repeat-y;
   background-attachment: scroll;
   -webkit-background-size: 100%;
   -moz-background-size: 100%;
   -o-background-size: 100%;
   background-size: 100%;
}

.content {
   position: absolute;
   top: 0px;
   left: 8%;
   width: 84%;
   margin: auto;
   height: auto;
   display: block;
   min-height: 100%;
   background-color: #ffffff;
}

.banner {
   width: 100%;
   background-color: #ffffff;
   padding-bottom: 21px;
   padding-top: 21px;
}

.navbar {
   display: block;
   margin-bottom: 30px;
   margin-top: 11px;
   text-align: center;
   height: auto;
   padding: auto;
}

.navbtn {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  margin-right: 5px;
  margin-left: 5px;
  font-family: body;
  color: #ffffff;
  font-size: 16px;
  background: #7176d3;
  padding: 10px 10px 10px 10px;
  border: solid #000000 2px;
  text-decoration: none;
}

.navbtn:hover {
  text-decoration: none;
  background: #4D54C8;
}

.table {
   display: table;
   margin: auto;
   width: 100%;
   border-spacing: 15px;
}

.col {
   width: 30%;
   display: table-cell;
   vertical-align: top;
}

.widecol {
   width: 70%;
   display: table-cell;
}

.cell {
   display: block;
   padding: 10px;
   border: 1px solid blue;
   margin-bottom: 15px;
   color: #ffffff;
   background-color: #7176d3;
   font-family: body;
}

a .cell:hover {
   background-color: #4D54C8;
}

a:link {
   text-decoration: none;
}

.imagepanel {
   max-width: 100%;
   max-height: 100%;
   overflow: hidden;
}

@media only screen and (max-width: 600px) {
   .col {
      width: 100%;
      display: block;
   }

   .widecol {
      width: 100%;
      display: block;
   }
}

@font-face {
    font-family: title;
    src: url("fonts/FjallaOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: body;
    src: url("fonts/Average-Regular.ttf") format("truetype");
}